.wp-block-geo-utils-geo-popup {
  border: 2px dashed #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  margin: 20px 0;
}

.geo-popup-editor {
  padding: 20px;
}

.geo-popup-editor__content {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 100px;
}
