.geoutils-block {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
}
.geoutils-block button {
    margin-top: 10px;
    padding: 5px 10px;
}

.geo-target-block {
    border: 1px dashed #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100px;
    position: relative;
}

.geo-target-block__label {
    position: absolute;
    bottom: 1px;
    left: 1px;
    background: #f0f0f0;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 12px;
    color: #666;
}
